{erl_opts, [debug_info]}.
{deps, [
   {graphql,
        {git, "https://github.com/shopgun/graphql-erlang.git", {branch, "master"}}},
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.9.0"}}},
    {jsx, "~> 3.0"}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [smart_home_api]}
]}.
