@media (min-width: 0px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 600px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 900px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 4;
    }
	}
@media (min-width: 1500px) {
    .card-columns {
        column-count: 5;
    }
	}



body {
  background-color: #474B50;
}
