<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "HomeUi", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/assets/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/assets/app.js") %>"></script>
  </head>
  <body>
    <header class="w-full border-b-2 border-gray-100 mb-2">
      <section class="max-w-7xl px-6 w-full my-0 mx-auto relative flex flex-col-reverse md:flex-row-reverse justify-between items-center">
        <nav role="navigation">
		<div class="container">
		  <ul class="block m-3 mt-0 md:mt-3 text-right whitespace-nowrap">
                    <li class="inline-block p-1"><a class="text-blue-500 hover:text-gray-500 block" href="<%= Routes.dashboard_path(@conn, :index)%>">Sterowanie</a></li>
		    <li class="inline-block p-1"><a class="text-blue-500 hover:text-gray-500 block" href="#">Kamery</a></li>
                    <li class="inline-block p-1"><a class="text-blue-500 hover:text-gray-500 block" href="<%= Routes.settings_path(@conn, :index)%>">Ustawienia</a></li>
                    <li class="inline-block p-1"><a class="text-blue-500 hover:text-gray-500 block" href="http://192.168.2.100:3000/d/m8Dnio44z/smarthome?orgId=1&refresh=5m&from=now-24h&to=now">Statystyki</a></li>
		    <!--<%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
		      <li class="inline-block p-1"><%= link "LiveDash", to: Routes.live_dashboard_path(@conn, :home), class: "text-blue-500 hover:text-gray-500 block" %></li>
                    <% end %> -->
		  </ul>
		</div>
        </nav>
        <!--
        <a href="#" class="my-3 md:my-4 mx-3 block">
          <img class="max-w-lg" src="<%= Routes.static_path(@conn, "/images/smart_home.png") %>" alt="Smart Home Logo"/>
        </a>
        -->
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
